---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
//$on-laptop:        800px;
$on-laptop:		   1000px;

// my changes
$post-main-image-width: 350px;



//// Using media queries with like this:
//// @include media-query($on-palm) {
////     .wrapper {
////         padding-right: $spacing-unit / 2;
////         padding-left: $spacing-unit / 2;
////     }
//// }
//@mixin media-query($device) {
//    @media screen and (max-width: $device) {
//        @content;
//    }
//}

// new media query method based on http://www.thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
@mixin media-query($device) {
	@if $device == palm {
		@media screen and (max-width: $on-palm) { @content; }
	}
	@else if $device == midsize {
		@media screen and (min-width: $on-palm + 1) and (max-width: $on-laptop - 1) { @content; }
	}
	@else if $device == full {
		@media screen and (min-width: $on-laptop) { @content; }
	}
}
// usage:
// @include media-query(full) { img {width: 100%;} }


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
