$index-spacing-unit: $spacing-unit * 0.66;
$bio-pic-height: 220px;

@include media-query($on-full) {

  .index {
    height: 100vh;
    margin: 0 $index-spacing-unit * 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $index-spacing-unit;
    grid-template-rows: min-content auto min-content ($bio-pic-height + $index-spacing-unit * 2);

    header {
      grid-column: 1 / 4;
    }

    .stuff-list {
      // grid-row: 1;
      overflow-y: scroll;
      scrollbar-width: none;
      ul {
        margin-left: 0;
        padding-left: $index-spacing-unit / 2;
      }
    }

    hr {
      grid-column: 1 / 4;
    }

    .bio {
      margin: 0;
      grid-column: 1 / 3;
      grid-row: -2;
      padding-right: $spacing-unit;
      border: none;

      img.bio-pic {
        float: left;
        margin-right: $spacing-unit;
      }
    }

    .contact {
      margin: 0;
      grid-row: -2;
    }
  }
}

img.bio-pic {
  margin: 0;
  height: $bio-pic-height;
}

.index {
  header .wrapper {
    margin-left: 0;
    padding-left: $index-spacing-unit;
    max-width: inherit;
  }

  h3 {
    padding-top: 0;
    padding-left: $index-spacing-unit;
    padding-bottom: $index-spacing-unit / 2;
    margin: 0;
    font-size: $small-font-size * 0.7;
    font-weight: normal;
    text-transform: uppercase;
    font-family: $base-font-family-sans;
  }
}

.stuff-list li {
  list-style-type: "\02C3";
  margin-left: 0;
  padding-left: $index-spacing-unit / 2;
  cursor: pointer;

  .expanded {
    display: none;
  }

  &:focus-within {
    list-style-type: "\02C5";
    color: $brand-color;
    cursor: default;

    .summary {
      display: none;
    }

    .expanded {
      display: block;
    }
  }

  &:hover {
    color: $brand-color;

    .summary p::after {
      content: " \2026";
      color: $brand-color;
    }
  }

  p {
    margin-bottom: 0.2em;
    color: $text-color;
    @media (prefers-color-scheme: dark) {
      color: $dark-mode-text-color;
    }
  }
}

.bio {
  margin: $index-spacing-unit;
  border-bottom: 1px solid $grey-color-light;
  padding-bottom: $index-spacing-unit / 2;

  p {
    margin-bottom: 0;
  }
}

.contact {
  margin: $index-spacing-unit;
}

img.bio-pic {
  margin-bottom: $index-spacing-unit / 2;
}

.pic-credit {
  font-style: italic;
  font-size: $small-font-size;
}

hr {
  margin: 0;
  border: none;
  border-bottom: 1px solid $grey-color-light;
}
